#Afternoon{
    background-image: url("../../../../assets/images/cards/18220849_v1015-107a.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Rain{
    background-image: url("../../../../assets/images/cards/15356025_SL_042221_42420_10.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Night{
    background-image: url("../../../../assets/images/cards/2533760_8247.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

#Evening{
    background-image: url("../../../../assets/images/cards/19454262_90Z_2109.w026.n002.839B.p1.839.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}   

#Morning{
    background-image: url("../../../../assets/images/cards/18220849_v1015-107a.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Air{
    background-image: url("../../../../assets/images/cards/air.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



