.App {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Mont;
  /* background: linear-gradient(90deg, #1c1c1c 0%, #161618 50%, #1f1f31 100%); */
  background: black;
}

.outlet{
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

section {
  margin: 0;
  padding: 20px;
  text-align: center;
  width: 100%;
}

@font-face {
  font-family: Mont;
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-display: swap;
}

circle{
  /* stroke-dasharray: 2; */
}

@media (max-width: 768px) {
  .outlet{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  section{
    padding: 0px;
    width: 100%;
    margin: 0;
  }
}
