.App {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Mont;
}

.app{
  background: linear-gradient(90deg, #ececee 0%, #aaa9ad 50%, #dedeee 100%);
}

section {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-family: Mont;
}

@font-face {
  font-family: Mont;
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
  font-display: swap;
}
